    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
    }

    h3 {
      font-size: 20px;
    }

    div#loader {
      background-image: url("asterholma1.jpg");
      background-size: auto 100%;
      background-repeat: repeat;
      display: block;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: #ffffff;
      opacity: 1;
      font-family: sans-serif;
    }

    div#loaderbox {
      display: block;
      width: 100%;
      position: absolute;
      top: 50px;
    }

    div#loaderheader {
      top: 50px;
      width: 100%;
      display: block;
    }

    div#loaderheader img {
      display: block;
      margin: auto;
    }

    div#loadercontent {
      text-align: center;
      margin-left: auto;
      margin-right: auto; 
      width: 100%;
      font-size: 18px;
      background-color: rgba(255, 255, 255, 0.5);
    }

    #loadercontent #h1 {
      font-size: 24px;
    }

    div#infopage {
      position: fixed;
      top: 50px;
      width: 100%;
      text-align: center;
      bottom: 0px;
      background-color: rgba(0,0,0, 0.3);
      z-index: 4;
      overflow-y: scroll;
    }

    div#infopagecontent {
      position: inline-block;
      max-width:600px;
      min-height: 100%;
      margin: auto;
      text-align: left;
      background-color: white;
      padding: 15px;
    }

    #infopage td, #infopage th {
      padding: 5px;
    }

    #infopagecontent .footer {
      position: absolute;
      bottom: 5px;
      width: 80%;
      color: #808080;
      border-top: 1px ridge #a0a0a0;
    }

    .closeInfoButton {
      float: right;
      background-color: #eeeeee;
      font-size: 20px;
      width: 40px;
      height: 40px;
      padding: 0;
    }

    #scrollIndicator {
      height: 25px;
      width: 100%;
      display: none;
      z-index: 1;
      background-color: #ecececad;
      position: fixed;
      bottom: 0px;
      padding-left: 50%;
    }

    #scrollIndicator.can-scroll {
      display: block;
    }

    #scrollIndicator i {
      position: relative;
      font-size: 40px;
      left: -20px;
      top: -6px;
      color: #822928;
    }

    .timetable {
      max-width: 600px;
    }
    
    .map div {
      text-shadow:
      -1px -1px 0px rgba(255, 255, 255, 0.3),
      1px -1px 0px rgba(255, 255, 255, 0.3),
      -1px 1px 0px rgba(255, 255, 255, 0.3),
      1px 1px 0px rgba(255, 255, 255, 0.3),
      -1px 0px 0px rgba(255, 255, 255, 0.3),
      1px 0px 0px rgba(255, 255, 255, 0.3),
      0px -1px 0px rgba(255, 255, 255, 0.3),
      0px 1px 0px rgba(255, 255, 255, 0.3);
    }

    .map.satellite div {
      text-shadow:
      -1px -1px 0px rgba(0, 0, 0, 0.3),
      1px -1px 0px rgba(0, 0, 0, 0.3),
      -1px 1px 0px rgba(0, 0, 0, 0.3),
      1px 1px 0px rgba(0, 0, 0, 0.3),
      -1px 0px 0px rgba(0, 0, 0, 0.3),
      1px 0px 0px rgba(0, 0, 0, 0.3),
      0px -1px 0px rgba(0, 0, 0, 0.3),
      0px 1px 0px rgba(0, 0, 0, 0.3);
    }

    #map.hide {
      opacity: 0;
    }

    #map .gm-iv-address div {
      text-shadow: none;
    }
    #map .gm-style-cc div {
      text-shadow: none;
    }
    #map .gm-style-iw div {
      text-shadow: none;
    }

    .map .txtol {
      position: absolute;
      white-space: nowrap;
      font-style: normal;
      font-family: 'Roboto', sans-serif;
      line-height: 1;
      -webkit-touch-callout: none;
      -webkit-user-select: none; 
      -moz-user-select: none; 
    }

    .map .area {
      color: #202030;
      opacity: 0.6;
    }

    .map.satellite .area {
      color: #ffffff;
    }

    .map .area.bg {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .map.satellite .area.bg {
      background-color: transparent;
    }

    .map .area.province {
      font-weight: bold;
      font-size: 2em;
    }

    .map .area.mun1 {
      font-weight: bold;
      font-size: 1.8em;
    }

    .map .area.mun2 {
      font-weight: bold;
      font-size: 1.4em;
    }

    .map .area.island1 {
      font-weight: normal;
      font-size: 1em;
      font-family: 'Trebuchet MS';
      color: #101010;
      opacity: 0.8;
    }

    .map.satellite .area.island1 {
      color: #ddd;
    }

    .map .pier {
      color: #002080;
      opacity: 0.9;
      cursor: pointer;
    }

    .map.satellite .pier {
      color: #6ac1fc;
    }
    .map .pier-1 {
      font-size: 1.2em;
      font-weight: 600;
    }

    .map .pier-2 {
      font-size: 1.1em;
      font-weight: 600;
    }

    .map .pier-3 {
      font-size: 1.1em;
      font-weight: 500;
    }

    .map .pier-4 {
      font-size: 1em;
    }

    .map .distancebox {
      visibility: hidden;
      background-color:rgba(0, 101, 189, 0.7);
      border-radius: 3px;
      border: 2.5px solid white;
      position: absolute;
      padding: 4px;
      font-style: normal;
      font-family: 'Roboto', sans-serif;
      white-space: nowrap;
      font-size: 0.9em;
      line-height: 1.1;
      color: #ffffff;
      text-shadow: none;
      -webkit-touch-callout: none; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
    }

    div#info {
      overflow-y: hidden; 
      width: 100%; 
      min-height: 10%;
      position: absolute;
      top: 100%;
      display: none;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 30px;
      background-color: #fbfcfd;
    }

    .infocontent {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fcfdfe;
      padding: 0 5px;
    }

    .infocontent.hidden-info {
      opacity: 0;
    }

    .infocontent.template {
      display: none;
    }

    div#wrapper {
      position: fixed; 
      top: 0px; 
      height: 100%; 
      width: 100%; 
      overflow-y: hidden;
    }

    div#wrapper2 {
      position: fixed;
      top: 0px; 
      height: 100%; 
      width: 100%; 
      overflow-y: scroll;
    }

    div#mapcontainer {
      height: 100%;  
      width: 100%; 
      transform: scale(1); 
      opacity: 1; 
      position: absolute; 
      left: -0px; 
      top: -0px;
      border-bottom: solid 1px;
    }

    .map {
      height: 100%;
      width: 100%; 
      transform: scale(1); 
      position: absolute; 
      left: -0px; 
      top: -0px; 
    }

.btn:focus, .btn.active:focus {outline:0;}

.btn-default.active, .btn-default.active:focus {
  background-color: #bbb;
}

.btn-default:focus {
  background-color: #fff;
  border-color: #ccc;
}

.lastrow {
  margin-top: 30px;
}

@media (hover:hover) {
  .btn:hover, .btn.active:hover { 
    background-color: #8de;
  }
}

  div#topbar {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: solid #aaa 1px;
    z-index: 10;
  }

    div#topbartitle {
      font-size: 20px;
      width: 100%;
      text-align: center;
      padding: 10px;
      position: absolute;
      background: transparent;
      pointer-events: none;
    }

    .topbarbutton {
      float: left;
      margin: 3px;
      margin-left: 5px;
      margin-right: 5px;
      border: none;
      outline: 0;
      font-size: 30px;
      color: #444;
      background: transparent;
    }

    .topbarbutton.right {
      float: right;
    }

    #menu {
      display: none;
      position: fixed;
      left: 0px;
      top: 0px;
      width: 200px;
      max-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      box-shadow: 2px 2px #ddd;
    }

    .menucontainer {
      width: 100%;
      background-color: white;
      opacity: 1;
      border: solid #aaa 1px;
      padding: 10px;
      padding-left: 20px;
      padding-top: 5px;
      margin-top: 50px;
      background-color: white;
    }

    #settings {
      display: none;
      position: fixed;
      right: 0px;
      top: 0px;
      width: 200px;
      max-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      box-shadow: -2px 2px #ddd;
    }

    #menu .col-sm-3 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .box {
      margin: 5px;
      height: 40px;
      padding: 5px;
      border-bottom: solid #ddd 1px;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
    }

    .box:not([data-target]) {
      cursor: inherit;
      color: #ccc;
      pointer-events: none;
    }

    .boxs {
      user-select: none;
      margin: 5px;
      min-height: 40px;
      border-bottom: solid #ddd 1px;
      overflow: hidden;
    }

    .boxs button {
      height: 30px;
      padding-top: 4px;
    }

    .boxs h4 {
      font-size: 18px; 
    }

    .mapTypeSelect {
      height: 30px;
      width: 100%;
      background-color: white;
    }

    .layerselector {
      font-weight: normal;
      cursor: pointer; 
    }

.layer input[type=checkbox] { display:none; }
.layer input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.layer input[type=checkbox] + label:before { 
  width: 20px;
  content: "\f096";
  letter-spacing: 10px;
}

.layer input[type=checkbox]:checked + label { 
  font-weight: bold;
}

.layer input[type=checkbox]:checked + label:before { 
  content: "\f046";
}

.layer input[type=checkbox][disabled] {
    color: #ddd;
    cursor: initial;
}
.layer input[type=checkbox][disabled] + label {
  color: #ddd; 
}

.modal-dialog {
  max-width: 1000px;

}
