<div id="infopagecontent">
  <button type="button" class="btn btn-secondary closeInfoButton" id="closeInfoPageButton"><i class="fa fa-times" aria-hidden="true"></i></button>
  <div id="ferriesinfo" class="infosection">
    <h2>Ahvenanmaan lautat <img src="img/alandstrafiken.png" width="120px"/></h2>
    <h3>Lauttareitit</h3>
    <p>
      <ul>
        <li>Pohjoinen linja</li>
        <li>Eteläinen linja</li>
        <li>Poikittainen linja</li>
        <li>Föglön linja</li>
        <li>Vaijerilossit</li>
      </ul>
    </p>
    <h3>Hinnat</h3>
    <p>
      Ajoneuvojen kuljettaminen Ålandstrafikenin lautoilla on maksullista paitsi vaijerilosseilla. Hinnoittelusta johtuen käytännössä maksullista on ainoastaan lähtö saaristoon Ahvenanmantereelta tai Manner-Suomesta eli Hummelvikistä, Långnäsistä, Svinöstä, Vuonaisista ja Galtbystä. Saarten välillä kulkeminen sekä saaristosta poistuminen on maksutonta. Matkustajista ei peritä erikseen maksua.
    </p>
    <p>
      Maksu määräytyy vuodenajan, ajoneuvon sekä matkan pituuden ja keston mukaan. Jos matkustaa saman vuorokauden aikana koko matkan Suomesta Ahvenanmantereelle, on maksu huomattavasti korkeampi kuin saaristossa yövyttäessä. Verkosta etukäteen ostettuna maksuista saa 10 % alennuksen.
    </p>
    <p>
      Esimerkkihintoja kesällä 2018:
      <table>
        <tr><th>Yhteys</th><th>polkupyörä</th><th>moottoripyörä</th><th>henkilöauto</th></tr>
        <tr><td>Manner-Suomi - saaristo - Manner-Suomi</td><td>6</td><td>21</td><td>34</td></tr>
        <tr><td>Vuosnainen - Brändö - Vuosnainen<br/>(poikkeus edelliseen)</td><td>6</td><td>16</td><td>22</td></tr>
        <tr><td>Manner-Suomi - Ahvenanmanner<br/>(yöpyminen saaristossa)</td><td>6</td><td>21</td><td>34</td></tr>
        <tr><td>Manner-Suomi - Ahvenanmanner<br/>(saman vuorokauden aikana)</td><td>24</td><td>74</td><td>122</td></tr>
      </table>
    </p>
    <p>
      Useimmille lautoille voi varata paikan moottoriajoneuvolle ja suosituimpiin aikoihin se on ehdottomasti suositeltavaa. Varauksen voi tehdä <a href="http://online.alandstrafiken.ax/Login/Customer.aspx" target="other">verkossa</a> tai puhelimitse <i class="fa fa-phone" aria-hidden="true"></i> <a class="tel" href="tel:+3581825600">+358 18 25 600</a>.
    </p>
    <h2>Suomen lautat</h2>
    <p>
      Tulossa...
    </p>
  </div>

  <div id="linksinfo" class="infosection">
    <h2 lang="fi">Linkkejä</h2>
    <h2 lang="sv">Länkar</h2>
    <h2 lang="en">Links</h2>

    <h3 lang="fi">Lautat</h3>
    <h3 lang="sv">Färjorna</h3>
    <h3 lang="en">Ferries</h3>

    <div lang="fi"><a href="http://lautta.net/?lang=fi" target="lauttanet">Lautta.net</a>
      <p>Kaikkien Manner-Suomen lauttojen portaali. Aikataulut, reittihaku, tiedotteet ym. </p>
    </div>
    <div lang="sv"><a href="http://lautta.net/?lang=sv" target="lauttanet">Lautta.net</a>
      <p>Portal till alla Fastlands-Finlands färjor. Tidtabeller, ruttsökning, meddelanden osv.</p>
    </div>
    <div lang="en"><a href="http://lautta.net/?lang=en" target="lauttanet">Lautta.net</a>
      <p>Portal to all road ferries in Mainland Finland. Timetables, route finder, announcements etc.</p>
    </div>

    <div lang="fi"><a href="http://www.ely-keskus.fi/web/ely/saaristoliikenne" target="ely">Varsinais-Suomen ELY-keskus</a>
      <p>Manner-Suomen maantielautta- ja yhteysalusliikenteen järjestäjä</p>
    </div>
    <div lang="sv"><a href="http://www.ely-keskus.fi/sv/web/ely/saaristoliikenne" target="ely">NTM-centralen i Egentliga Finland</a>
      <p>Fastlands-Finlands landsvägs- och förbindelsefartygstrafikens organisatör</p>
    </div>
    <div lang="en"><a href="http://www.ely-keskus.fi/en/web/ely-en/transport" target="ely">ELY Centre in Southwest Finland</a>
      <p>Authority responsible for organizing ferry routes in Mainland Finland</p>
    </div>

    <div lang="fi"><a href="http://www.finferries.fi/" target="finferries">FinFerries.fi</a>
      <p>Manner-Suomen tärkein maantielauttaoperaattori</p>
    </div>
    <div lang="sv"><a href="http://www.finferries.fi/sv/" target="finferries">FinFerries.fi</a>
      <p>Fastlands-Finlands viktigaste landvägsfärjoperatör</p>
    </div>
    <div lang="en"><a href="http://www.finferries.fi/en/" target="finferries">FinFerries.fi</a>
      <p>The main operator of ferries in Mainland Finland</p>
    </div>

    <div lang="fi"><a href="http://www.alandstrafiken.ax/fi" target="alandstrafiken">Alandstrafiken.ax</a>
      <p>Ahvenanmaan lauttojen ja muun julkisen liikenteen järjestäjä. Aikataulut, varaukset, tiedotteet ym.</p>
    </div>
    <div lang="sv"><a href="http://www.alandstrafiken.ax/sv" target="alandstrafiken">Alandstrafiken.ax</a>
      <p>Ålands färj- och andra offentlig trafiks organisatör. Tidtabeller, bokning, meddelanden osv.</p>
    </div>
    <div lang="en"><a href="http://www.alandstrafiken.ax/en" target="alandstrafiken">Alandstrafiken.ax</a>
      <p>Organiser of ferries and other public transport in Åland. Timetables, bookings, announcements etc.</p>
    </div>

    <h3 lang="fi">Matkailutietoa</h3>
    <h3 lang="sv">Turistinformation</h3>
    <h3 lang="en">Tourist Information</h3>

    <div lang="fi"><a href="http://saaristo.org/index.php?page=101&lang=1" target="saaristoorg">Saaristo.org</a>
      <p>Turun saariston matkailuneuvonta</p>
    </div>
    <div lang="sv"><a href="http://saaristo.org/index.php?page=101&lang=3" target="saaristoorg">Saaristo.org</a>
      <p>Åbo skärgårdens turistinformation</p>
    </div>
    <div lang="en"><a href="http://saaristo.org/index.php?page=101&lang=2" target="saaristoorg">Saaristo.org</a>
      <p>Turku Archipelago Tourist Information Center</p>
    </div>

    <div lang="fi"><a href="http://www.visitaland.com/fi/" target="visitaland">Visit Åland</a>
      <p>Ahvenanmaan matkailuneuvonta</p>
    </div>
    <div lang="sv"><a href="http://www.visitaland.com/" target="visitaland">Visit Åland</a>
      <p>Ålands turistinformation</p>
    </div>
    <div lang="en"><a href="http://www.visitaland.com/en/" target="visitaland">Visit Åland</a>
      <p>Åland Tourist information Center</p>
    </div>

    <div lang="fi"><a href="http://www.aland.travel/index-fi.html" target="alandtravel">Åland.travel</a>
      <p>Ahvenanmaan saaristokuntien matkailutietoa. Föglö, Sottunga, Kumlinge, Vårdö, Brändö, Kökar.</p>
    </div>
    <div lang="sv"><a href="http://www.aland.travel/index.html" target="alandtravel">Åland.travel</a>
      <p>Ålands skärgårdkommunernas turistinformation. Föglö, Sottunga, Kumlinge, Vårdö, Brändö, Kökar.</p>
    </div>
    <div lang="en"><a href="http://www.aland.travel/index-en.html" target="alandtravel">Åland.travel</a>
      <p>Tourist information of the archipelago municipalities in Åland. Föglö, Sottunga, Kumlinge, Vårdö, Brändö, Kökar.</p>
    </div>
  </div>

  <div id="appinfo" class="infosection">
    <h2 lang="fi">Tietoja sovelluksesta</h2>
    <h2 lang="sv">Info om applikationen</h2>
    <h2 lang="en">About the Application</h2>
    <p>
      Saaristolautat.fi on epävirallinen, harrastuspohjalta tehty sovellus, jonka tarkoitus on auttaa saaristoon suuntaavien matkojen suunnittelussa.
    </p>
    <div class="alert alert-danger" role="alert">
      <strong>Tarkista aina aikataulut palveluntarjoajien palveluista!</strong>
    </div>
    <p>
      Seuraa Saaristolauttoja <a href="https://www.facebook.com/saaristolautat/" target="facebook">Facebookissa <img src="facebook.svg" height="20"/></a>.
    </p>
    <p>
      Anna palautetta Facebookissa tai
      <a href="mailto:feedback@saaristolautat.fi?subject=Palautetta Saaristolautat-sovelluksesta">sähköpostilla <img src="sendemail.svg" height="30"/></a>.
    </p>
    <p class="footer">
      Icons made by Freepik from <a href="https://www.flaticon.com" target="flaticon">www.flaticon.com</a>
    </p>
  </div>

</div>

