<div class="menucontainer" id="menucontent">
  <div class="box">
    Getting there
  </div>
  <div class="box" data-target="#ferriesinfo">
    <span lang="fi">Lauttareitit</span><span lang="sv">Färjerutterna</span><span lang="en">Ferry routes</span>
  </div>
  <div class="box">
    Accommodation
  </div>
  <div class="box">
    Services
  </div>
  <div class="box">
    <span lang="fi">Pyöräily</span><span lang="sv">Cykling</span><span lang="en">Cycling</span>
  </div>
  <div class="box">
    Tips
  </div>
  <div class="box" data-target="#linksinfo">
    <span lang="fi">Linkkejä</span><span lang="sv">Länkar</span><span lang="en">Links</span>
  </div>
  <div id="about" class="box" data-target="#appinfo">
    <span lang="fi">Tietoja sovelluksesta</span><span lang="sv">Info om applikation</span><span lang="en">About the Application</span>
  </div>
</div>
